.container {
  padding-top: 120px;
  width: 800px;
  margin: 0 auto 100px;
}

.banner {
  margin-bottom: 40px;
  width: 100%;
  height: 130px;
  background-color: #ffdae1;
  text-align: center;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*   Non Chat   */
.nonChat {
  text-align: center;
  margin-top: 40px;
}

.nonChat > h2 {
  margin-bottom: 50px;
}

.nonChat > img {
  width: 200px;
  height: auto;
  opacity: 80%;
}


/*   Show Chat List   */
.chatList {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 15px;
}

.chatItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #cecece;
}

.itemLeft {
  display: flex;
  align-items: center;
}

.imgContainer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatInfo > h3 {
  margin-bottom: 5px;
}

.itemRight {
  color: #545454;
}


/*   Max-Width: 800px   */
@media screen and (max-width: 800px) {
  .container {
    padding-top: 120px;
    width: 600px;
    margin: 0 auto 100px;
  }
  
  .banner {
    margin-bottom: 40px;
    width: 100%;
    height: 90px;
    background-color: #ffdae1;
    text-align: center;
  }


  /*   Show Chat List   */
  .chatList {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
  }

  .imgContainer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
  }

  .chatInfo > h3 {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .chatInfo > p {
    font-size: 15px;
  }

  .itemRight > span {
    font-size: 13px;
  }
}


/*   Max-Width: 550px   */
@media screen and (max-width: 550px) {
  .container {
    padding-top: 90px;
    width: 500px;
    margin: 0 auto 70px;
  }
  
  .banner {
    margin-bottom: 40px;
    width: 100%;
    height: 80px;
    background-color: #ffdae1;
    text-align: center;
  }


  /*   Non Chat   */
  .nonChat {
    text-align: center;
    margin-top: 40px;
  }

  .nonChat > h2 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .nonChat > img {
    width: 170px;
    height: auto;
    opacity: 80%;
  }


  /*   Show Chat List   */
  .chatList {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 8px;
  }

  .chatItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;
  }

  .imgContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 13px;
  }

  .chatInfo > h3 {
    margin-bottom: 3px;
    font-size: 17px;
  }

  .chatInfo > p {
    font-size: 14px;
  }

  .itemRight > span {
    font-size: 12px;
  }
}


/*   Max-Width: 400px   */
@media screen and (max-width: 400px) {
  .container {
    padding-top: 60px;
    width: 360px;
    margin: 0 auto 40px;
  }
  
  .banner {
    margin-bottom: 40px;
    width: 100%;
    height: 60px;
    background-color: #ffdae1;
    text-align: center;
  }


  /*   Non Chat   */
  .nonChat {
    text-align: center;
    margin-top: 40px;
  }

  .nonChat > h2 {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .nonChat > img {
    width: 150px;
    height: auto;
    opacity: 80%;
  }


  /*   Show Chat List   */
  .chatList {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 6px;
  }

  .chatItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6px;
    border-bottom: 1px solid #cecece;
  }

  .imgContainer {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .chatInfo > h3 {
    margin-bottom: 0;
    font-size: 15px;
  }

  .chatInfo > p {
    font-size: 12px;
  }

  .itemRight > span {
    font-size: 10px;
  }
}