.container {
  padding-top: 120px;
  width: 1024px;
  margin: 0 auto 100px;
}

.banner {
  margin-bottom: 40px;
  width: 100%;
  height: 6.5em;
  background-color: #ffdae1;
  text-align: center;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*   Non Chat   */
.nonChat {
  text-align: center;
  margin-top: 40px;
  font-size: 0.88em;
}

.nonChat > h2 {
  margin-top: 20px;
}

.nonChat > img {
  width: 200px;
  height: auto;
  opacity: 80%;
}

/*   Show Chat List   */
.chatList {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 15px;
}

.chatItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #cecece;
}

.itemLeft {
  display: flex;
  align-items: center;
}

.imgContainer {
  width: 3.6em;
  height: 3.6em;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatInfo > span {
  padding-bottom: 5px;
  font-size: 1.13em;
}

.chatInfo > p {
  color: #5b5b5b;
}

.itemRight {
  color: #545454;
  font-size: 0.94em;
}

/*   Max-Width: 800px   */
@media screen and (max-width: 800px) {
  .container {
    padding: 90px 20px;
    width: 100%;
    margin: 0 auto 100px;
  }

  .banner {
    margin-bottom: 40px;
    width: 100%;
    height: 5em;
    background-color: #ffdae1;
    text-align: center;
  }
}

/*   Max-Width: 550px   */
@media screen and (max-width: 550px) {
  .container {
    padding-top: 80px;
    width: 100%;
    margin: 0 auto 50px;
  }

  .banner {
    margin-bottom: 40px;
    width: 100%;
    height: 4em;
    background-color: #ffdae1;
    text-align: center;
  }

  /*   Non Chat   */
  .nonChat {
    text-align: center;
    margin-top: 40px;
    font-size: 0.67em;
  }

  .nonChat > h2 {
    margin-top: 14px;
  }

  .nonChat > img {
    width: 10.5em;
    height: auto;
    opacity: 80%;
  }

  /*   Show Chat List   */
  .chatList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    row-gap: 10px;
  }

  .chatItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;
  }

  .imgContainer {
    width: 2.88em;
    height: 2.88em;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 7px;
  }

  .chatInfo > span {
    font-size: 0.94em;
  }

  .chatInfo > p {
    font-size: 0.85em;
  }

  .itemRight > span {
    font-size: 0.86em;
  }
}
