.Home {
  margin: 0 auto;
  padding-top: 200px;
}

/*   Slide   */
.slide-container {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.slide > img {
  width: 100%;
}

.slide-font-container {
  padding: 0 70px;
  position: absolute;
  top: 57%;
}

.slide-font {
  background-color: rgba(222, 222, 222, 0.8);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.slide-font.title {
  font-size: 4rem;
}

.prev-btn {
  position: absolute;
  height: 71px;
  top: 50%;
  left: 40px;
}

.prev-btn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.next-btn {
  position: absolute;
  height: 71px;
  top: 50%;
  right: 40px;
}

.next-btn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*   Tag   */
.tag-container {
  width: 60vw;
  margin: 50px auto;
  text-align: center;
}

.btn {
  background-color: transparent;
  border-style: none;
}

.tag-btn {
  font-size: 2rem;
  border-radius: 30px;
  background-color: rgb(210, 210, 210);
  padding: 0.5rem 1.5rem;
  margin: 1rem 1.5rem;
}


/*   Content   */
.content {
  margin: 0 70px 280px;
}

.sub-title {
  font-size: 3rem;
}

.main-title {
  font-size: 4rem;
}

.point {
  color: #E67E22;
}

.content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.bookmark {
  width: 5rem;
}

.content-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.content-main > .img-container {
  width: 860px;
  height: 700px;
  overflow: hidden;
}

.app-contents > .content-main:nth-child(3) > .img-container {
  width: 1519px;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}