.Home {
  margin: 0 auto;
  padding-top: 200px;
}

/*   Slide   */
.slideContainer {
  position: relative;
  height: 800px;
  overflow: hidden;
  padding-top: 200px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.slide > img {
  width: 100%;
}

.slideFontContainer {
  padding: 0 70px;
  position: absolute;
  top: 57%;
}

.slideFont {
  background-color: rgba(222, 222, 222, 0.8);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.slideFont.title {
  font-size: 4rem;
}

.prevBtn {
  position: absolute;
  height: 71px;
  top: 50%;
  left: 40px;
}

.prevBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nextBtn {
  position: absolute;
  height: 71px;
  top: 50%;
  right: 40px;
}

.nextBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*   Tag   */
.tagContainer {
  width: 60vw;
  margin: 50px auto;
  text-align: center;
}

.btn {
  background-color: transparent;
  border-style: none;
}

.tagBtn {
  font-size: 2rem;
  border-radius: 30px;
  background-color: rgb(210, 210, 210);
  padding: 0.5rem 1.5rem;
  margin: 1rem 1.5rem;
}


/*   Content   */
.content {
  margin: 0 70px 280px;
}

.subTitle {
  font-size: 3rem;
}

.mainTitle {
  font-size: 4rem;
}

.point {
  color: #ea5936;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.bookmark {
  width: 5rem;
}

.contentMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.contentMain > .imgContainer {
  width: 860px;
  height: 700px;
  overflow: hidden;
}

.appContents > .contentMain:nth-child(3) > .imgContainer {
  width: 1519px;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}