.container {
  padding-top: 200px;
  margin-bottom: 200px;
}


/*   Image Container   */

.imgContainer {
  width: 677px;
  height: 577px;
  margin: 0 auto;
  overflow: hidden;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}


/*   User Container   */

.userContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
  padding: 25px 0;
  border-bottom: 2px solid #eaeaea;
}

.flex {
  display: flex;
}

.userProfile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.userProfile > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userInfo {
  margin-left: 12px;
}

.userInfo > span {
  font-size: 18px;
}


/*   Content   */

.content {
  padding: 25px 150px;
}

.content > h1 {
  margin-bottom: 15px;
}

.content > p {
  font-size: 20px;
}


/*   Bar   */

.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  padding: 25px 120px;
  border-top: 2px solid #eaeaea;
}

.leftItem {
  display: flex;
  align-items: center;
}

.likeBtn {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.likeBtn > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftItem > span {
  font-size: 22px;
  padding-left: 50px;
}

.chatBtn {
  width: 300px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 22px;
  color: #fff;
  background-color: #E67E22;
  border-radius: 20px;
}