.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
  margin-bottom: 100px;
}

.link {
  color: #171717;
}


/*   Banner   */
.banner {
  width: 100%;
  height: 120px;
  background-color: #EA5936;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*   Grid   */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 100px;
}


/*   Recipe List   */
.recipeList:nth-child(1) {
  margin-top: 50px;
}

.kindTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.kindTitle > h1 {
  font-size: 28px;
}

.kindTitle > span {
  font-size: 17px;
}


/*   Recipe Items   */
.recipeList > .grid {
  display: grid;
  grid-template-columns: repeat(3, 390px);
  overflow: hidden;
  column-gap: 20px;
}

.imgContainer {
  width: 390px;
  height: 350px;
  overflow: hidden;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipeItem > h2 {
  margin-top: 10px;
}

.itemInfo {
  display: flex;
  justify-content:flex-start;
  margin-top: 5px;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.item > img {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}

.item > span {
  font-size: 20px;
}


/*   Max-width: 800px   */
@media screen and (max-width: 800px) {
  .container {
    width: 700px;
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 80px;
  }


  /*   Banner   */
  .banner {
    width: 100%;
    height: 80px;
    background-color: #EA5936;
  }


  /*   Recipe List   */
  .kindTitle > h1 {
    font-size: 24px;
  }
  
  .kindTitle > span {
    font-size: 14px;
  }


  /*   Recipe Items   */
  .recipeList > .grid {
    display: grid;
    grid-template-columns: repeat(1, 700px);
    overflow: hidden;
    row-gap: 50px;
  }

  .imgContainer {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  .recipeItem > h2 {
    font-size: 20px;
  }

  .item {
    display: flex;
    align-items: center;
    margin-right: 3px;
  }

  .item > img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
  
  .item > span {
    font-size: 18px;
  }
}


/*   Max-width: 550px   */
@media screen and (max-width: 550px) {
  .container {
    width: 500px;
    margin: 0 auto;
    padding-top: 70px;
    margin-bottom: 80px;
  }


  /*   Banner   */
  .banner {
    width: 100%;
    height: 60px;
    background-color: #EA5936;
  }


  /*   Recipe List   */
  .kindTitle > h1 {
    font-size: 20px;
  }
  
  .kindTitle > span {
    font-size: 12px;
  }


  /*   Recipe Items   */
  .recipeList > .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    row-gap: 50px;
  }

  .imgContainer {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }

  .recipeItem > h2 {
    font-size: 16px;
  }

  .item > img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  
  .item > span {
    font-size: 13px;
  }
}


/*   Max-width: 400px   */
@media screen and (max-width: 400px) {
  .container {
    width: 360px;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 80px;
  }


  /*   Banner   */
  .banner {
    width: 100%;
    height: 60px;
    background-color: #EA5936;
  }


  /*   Grid   */
  .grid {
    display: grid;
    grid-template-columns: 360px;
    row-gap: 70px;
  }


  /*   Recipe List   */
  .kindTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 5px;
  }

  .kindTitle > h1 {
    font-size: 18px;
  }
  
  .kindTitle {
    font-size: 12px;
  }


  /*   Recipe Items   */
  .recipeList > .grid {
    display: grid;
    grid-template-columns: repeat(3, 113px);
    column-gap: 5px;
    overflow: hidden;
    padding: 0 5px;
  }

  .imgContainer {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }

  .recipeItem > h2 {
    font-size: 14px;
  }

  .item {
    display: flex;
    align-items: center;
    margin-right: 2px;
  }

  .item > img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
  }
  
  .item > span {
    font-size: 11px;
  }
}