.container {
  width: 1024px;
  margin: 0 auto;
  padding-top: 120px;
  margin-bottom: 100px;
}

.link {
  color: #171717;
}

/*   Banner   */
.banner {
  width: 100%;
  height: 6.5em;
  background-color: #ea5936;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*   Grid   */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 100px;
}

/*   Recipe List   */
.recipeList:nth-child(1) {
  margin-top: 50px;
}

.kindTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.kindTitle > h1 {
  font-size: 1.5em;
}

.kindTitle > span {
  font-size: 0.88em;
}

/*   Recipe Info   */
.recipeList > .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  column-gap: 20px;
}

.recipeContainer > .imgContainer {
  width: 100%;
  height: 12.5em;
  overflow: hidden;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipeContainer > h2 {
  margin-top: 10px;
  font-size: 1.13em;
  font-weight: normal;
}

.recipeInfoList {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.recipeInfoItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.recipeInfoItem > img {
  width: 1.19em;
  height: 1.19em;
  margin-right: 3px;
}

.recipeInfoItem > span {
  font-size: 0.94em;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 80px 20px;
    margin-bottom: 80px;
  }

  .link {
    color: #171717;
  }

  /*   Banner   */
  .banner {
    width: 100%;
    height: 4.5em;
    background-color: #ea5936;
  }

  .banner > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /*   Grid   */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
  }

  /*   Recipe List   */
  .recipeList:nth-child(1) {
    margin-top: 50px;
  }

  .kindTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .kindTitle > h1 {
    font-size: 1.16em;
  }

  .kindTitle > span {
    font-size: 0.88em;
  }

  /*  Recipe Info  */
  .recipeList > .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    column-gap: 20px;
  }

  .recipeContainer > .imgContainer {
    width: 100%;
    height: 10em;
    overflow: hidden;
  }

  .imgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .recipeContainer > h2 {
    margin-top: 10px;
    font-size: 1em;
    font-weight: normal;
  }

  .recipeInfoList {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
  }

  .recipeInfoItem {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  .recipeInfoItem > img {
    width: 1em;
    height: 1em;
    margin-right: 2px;
  }

  .recipeInfoItem > span {
    font-size: 0.81em;
  }
}

/*   Max-width: 600px   */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0 0 80px 0;
    padding: 70px 20px 0;
  }

  /*   Banner   */
  .banner {
    width: 100%;
    height: 3.75em;
    background-color: #ea5936;
  }

  /*  Recipe Title  */
  .kindTitle > h1 {
    font-size: 1.13em;
  }

  /*   Recipe List   */
  .recipeList > .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 40px;
    overflow: hidden;
  }

  .recipeContainer > .imgContainer {
    width: 100%;
    height: 9em;
    overflow: hidden;
  }

  .imgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
