.container {
  width: 1200px;
  margin: 0 auto 100px;
  padding-top: 150px;
}

.containerTitle {
  text-align: center;
  width: 100%;
  padding-bottom: 18px;
  border-bottom: 1px solid #c0c0c0;
}

.containerTitle > h1 {
  font-size: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 50px;
  margin-top: 20px;
  place-content: center;
}


/*   Item Container   */
.imgContainer {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}

.bookmark > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemContainer > strong {
  display: block;
  padding-top: 10px;
  font-size: 22px;
}

.itemInfo {
  display: flex;
  justify-content:flex-start;
  margin-top: 5px;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.item > img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.item > span {
  font-size: 20px;
}


/*   Max-Width: 800px   */
@media screen and (max-width: 800px) {
  .container {
    width: 700px;
    margin: 0 auto 100px;
    padding-top: 100px;
  }
  
  .containerTitle > h1 {
    font-size: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 80px;
    margin-top: 20px;
    place-content: center;
  }


  /*   Item Container   */
  .bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }

  .itemContainer > strong {
    display: block;
    padding-top: 5px;
    font-size: 18px;
  }
  
  .item > img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .item > span {
    font-size: 16px;
  }
}


/*   Max-Width: 550px   */
@media screen and (max-width: 550px) {
  .container {
    width: 500px;
    margin: 0 auto 30px;
    padding-top: 80px;
  }
  
  .containerTitle {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
  }

  .containerTitle > h1 {
    font-size: 18px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 80px;
    margin-top: 20px;
    place-content: center;
  }


  /*   Item Container   */
  .imgContainer {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  .itemInfo {
    display: flex;
    justify-content:flex-start;
    margin-top: 4px;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  .bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
  }

  .itemContainer > strong {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }
  
  .item > img {
    width: 18px;
    height: 18px;
    margin-right: 3px;
  }
  
  .item > span {
    font-size: 15px;
  }
}


/*   Max-Width: 400px   */
@media screen and (max-width: 400px) {
  .container {
    width: 360px;
    margin: 0 auto 30px;
    padding-top: 80px;
  }
  
  .containerTitle {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
  }

  .containerTitle > h1 {
    font-size: 18px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 80px;
    margin-top: 20px;
    place-content: center;
  }


  /*   Item Container   */
  .imgContainer {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  .itemInfo {
    display: flex;
    justify-content:flex-start;
    margin-top: 4px;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  .bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
  }

  .itemContainer > strong {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }
  
  .item > img {
    width: 18px;
    height: 18px;
    margin-right: 3px;
  }
  
  .item > span {
    font-size: 15px;
  }
}