.container {
  width: 1024px;
  margin: 0 auto 100px;
  padding-top: 110px;
}

.mainTitle {
  text-align: center;
  width: 100%;
  padding-bottom: 18px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 1em;
}

.recipeList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 50px;
  margin-top: 20px;
  place-content: center;
}

/*   Item Container   */
.imgContainer {
  width: 100%;
  height: 12.5em;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookmarkBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2.19em;
  height: 2.19em;
}

.bookmarkBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.recipeContainer > span {
  display: block;
  padding-top: 10px;
  font-size: 1.13em;
}

.recipeInfoList {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.recipeInfoItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.recipeInfoItem > img {
  width: 1.19em;
  height: 1.19em;
  margin-right: 3px;
}

.recipeInfoItem > span {
  font-size: 0.94em;
}

/*   Max-Width: 800px   */
@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    margin: 0 auto 100px;
    padding: 100px 20px;
  }

  .mainTitle {
    font-size: 0.8em;
    padding-bottom: 10px;
  }

  .recipeList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    margin-top: 20px;
    place-content: center;
  }

  /*   Item Container   */
  .imgContainer {
    width: 100%;
    height: 10em;
    border-radius: 9px;
    overflow: hidden;
    position: relative;
  }

  .recipeContainer > span {
    display: block;
    padding-top: 5px;
    font-size: 1em;
  }

  .recipeInfoItem {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  .recipeInfoItem > img {
    width: 1em;
    height: 1em;
    margin-right: 2px;
  }

  .recipeInfoItem > span {
    font-size: 0.81em;
  }
}

/*   Max-Width: 550px   */
@media screen and (max-width: 550px) {
  .container {
    width: 100%;
    margin: 0 auto 30px;
    padding-top: 80px 20px;
  }

  .mainTitle {
    font-size: 0.75em;
    padding-bottom: 10px;
  }

  .recipeList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 40px;
    margin-top: 20px;
    place-content: center;
  }

  /*   Item Container   */
  .imgContainer {
    width: 100%;
    height: 9em;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
  }

  .bookmarkBtn {
    position: absolute;
    top: 7px;
    right: 5px;
  }

  .recipeInfoList {
    display: flex;
    justify-content: flex-start;
    margin-top: 4px;
  }

  .recipeInfoItem {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
}
