/*   Share And Apply   */
.link {
  color: #171717;
}

.container {
  padding-top: 120px;
}

.content {
  background-color: #dddddd;
  width: 92vw;
  padding: 30px 70px;
  margin: 0 auto 20px;
}

.contentTitle {
  text-align: center;
  font-size: 1.2rem;
}

.itemsList {
  display: flex;
  justify-content: space-between;
}

.item {
  padding: 1rem 0;
  text-align: center;
}

.imgContainer {
  width: 160px;
  height: 160px;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*   Recommended User   */
.recommendedUsers {
  padding: 70px;
}

.recommendedUsers > .contentTitle {
  padding-bottom: 30px;
  text-align: left;
}

.recommendedUsers > .itemsList {
  justify-content: flex-start;
}

.recommendedUsers > .itemsList > .item {
  padding-right: 60px;
}

.userName {
  font-size: 20px;
}


/*   Ad   */
.ad {
  margin-top: 100px;
  width: 100%;
  height: 170px;
  background-color: #f8fd96;
}

.ad > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*   Media Query   */
@media screen and (max-width: 800px) {
  /*   Share and Apply   */
  .container {
    padding-top: 90px;
  }

  .contentTitle {
    text-align: center;
    font-size: 1rem;
  }

  .imgContainer {
    width: 100px;
    height: 100px;
  }

  .item > h2 {
    font-size: 18px;
  }


  /*   Recommended User   */
  .recommendedUsers {
    padding: 30px;
  }

  .recommendedUsers > .contentTitle {
    padding-bottom: 10px;
    text-align: left;
  }

  .userName {
    font-size: 18px;
  }


  /*   Ad   */
  .ad {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: #f8fd96;
  }
}


/*   Max-Width: 550px   */
@media screen and (max-width: 550px) {
  /*   Share and Apply   */
  .container {
    padding-top: 90px;
  }

  .content {
    background-color: #dddddd;
    width: 92vw;
    padding: 20px 40px;
    margin: 0 auto 20px;
  }

  .contentTitle {
    text-align: center;
    font-size: 16px;
  }

  .imgContainer {
    width: 80px;
    height: 80px;
  }

  .item > h2 {
    font-size: 16px;
  }


  /*   Recommended User   */
  .recommendedUsers {
    padding: 20px;
  }

  .recommendedUsers > .contentTitle {
    padding-bottom: 10px;
    text-align: left;
  }

  .recommendedUsers > .itemsList > .item {
    padding-right: 30px;
  }

  .userName {
    font-size: 15px;
  }


  /*   Ad   */
  .ad {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    background-color: #f8fd96;
  }
}


/*   Max-Width: 400px   */
@media screen and (max-width: 400px) {
  /*   Share and Apply   */
  .container {
    padding-top: 70px;
  }

  .content {
    background-color: #dddddd;
    width: 92vw;
    padding: 10px 20px;
    margin: 0 auto 5px;
  }

  .contentTitle {
    text-align: center;
    font-size: 14px;
  }

  .imgContainer {
    width: 60px;
    height: 60px;
  }

  .item > h2 {
    font-size: 13px;
  }


  /*   Recommended User   */
  .recommendedUsers {
    padding: 17px;
  }

  .recommendedUsers > .contentTitle {
    padding-bottom: 10px;
    text-align: left;
  }

  .recommendedUsers > .itemsList > .item {
    padding-right: 10px;
    padding-top: 0;
  }

  .userName {
    font-size: 13px;
  }


  /*   Ad   */
  .ad {
    margin-top: 30px;
    width: 100%;
    height: 73px;
    background-color: #f8fd96;
  }
}