.relative {
  position: relative;
}


/*   Show Content   */
.container {
  padding-top: 190px;
  width: 100%;
}

.imgContainer {
  width: 700px;
  height: 620px;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*   User Container   */

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 220px;
}

.user {
  display: flex;
  align-items: center;
}

.user > .imgContainer {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 10px;
}

.userInfo > span {
  font-size: 20px;
}


/*   Main Content   */

.mainContent {
  padding: 0 220px 300px;
}

.mainContent > h1 {
  font-size: 28px;
  margin-bottom: 12px;
}

.mainContent > strong {
  font-size: 23px;
}

.mainContent > p {
  font-size: 18px;
  margin-top: 23px;
}


/*   Bar   */

.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 26px 120px;
  border-top: 1px solid rgb(218, 218, 218);
  background-color: #fff;
}

.leftItem {
  display: flex;
  align-items: center;
}

.heartBtn {
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-right: 50px;
}

.heartBtn > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftItem > span {
  font-size: 19px;
}

.chatBtn {
  width: 150px;
  height: 60px;
  background-color: #ea5936;
  border-radius: 20px;
  font-size: 19px;
  color: #fff;
}


/*   Show Chat   */
.absolute {
  position: absolute;
  width: 500px;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 0 0 100vw rgba(0,0,0,0.2);
}

.chatContainer > .header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #949494;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.chatContainer > .header > .imgContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0;
}

.itemInfo {
  padding-left: 20px;
}

.itemInfo > h2 {
  margin-bottom: 10px;
}

.closeBtn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
}

.closeBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*   Chat List   */
.chatList {
  height: 400px;
}

.dateContainer {
  width: 100%;
  text-align: center;
}

.date::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  border-bottom: 1px solid #d0d0d0;
}

.date::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  border-bottom: 1px solid #d0d0d0;
}

.date {
  font-size: 15px;
  color: #6e6e6e;
  position: relative;
}

.sendContainer {
  display: flex;
  justify-content: first baseline;
}

.sendContainer > input {
  width: 460px;
  font-size: 17px;
  height: 40px;
  padding-left: 5px;
  border-style: none;
  border-top: 1px solid #949494;
}

.sendBtn {
  background-color: #ea5936;
  width: 40px;
  height: 40px;
  padding: 7px;
}

.sendBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*   Show Chat List   */
.myChat {
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}

.chatBox {
  display: inline-block;
  position: relative;
  background-color: #ea5936;
  border-radius: 20px;
  color: #fff;
  padding: 7px 12px;
  margin-bottom: 10px;
  max-width: 230px;
}

.chatTime {
  position: absolute;
  left: -64px;
  bottom: 2px;
  font-size: 14px;
  color: #171717;
}

.nonRead {
  position: absolute;
  bottom: 18px;
  left: -13px;
  font-size: 14px;
  color: #ea5936;
}