.container {
  padding-top: 110px;
  width: 1024px;
  position: relative;
  margin: 0 auto 100px;
}

.link {
  color: #171717;
}

.hidden {
  display: none;
}

/*   Header   */
.tabContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tabBtn {
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #949494;
  cursor: pointer;
  font-size: 0.9em;
}

.tabBtn > h1 {
  color: #949494;
}

.tabBtn.click {
  border-bottom: 3px solid #ea5936;
}

.tabBtn.click > h1 {
  color: #ea5936;
}

/*   Grid   */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  z-index: 980;
}

/*   Share List   */

.itemContainer {
  padding-top: 30px;
}

.imgContainer {
  width: 100%;
  height: 12.5em;
  border-radius: 12px;
  overflow: hidden;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemInfo > h2 {
  margin: 10px 0 2px;
  font-size: 1.13em;
  font-weight: normal;
}

.itemInfo > strong {
  font-size: 1.07em;
  padding-bottom: 2px;
}

.itemInfo > span {
  font-size: 1em;
}

.author {
  margin-top: 5px;
  font-size: 1em;
}

.author > span {
  color: #6a6a6a;
}

/*   Plus Button   */
.plusBtn {
  position: absolute;
  right: 0;
  width: 5.46em;
  height: 5.46em;
  overflow: hidden;
}

.plusBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*   Plus Content   */

.inputModalContainer {
  position: absolute;
  top: 110px;
  left: 50%;
  z-index: 985;
  transform: translate(-50%);
  padding: 0 20px 30px;
  background-color: #fff;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.2);
}

.modalTitle {
  font-size: 1em;
  text-align: center;
  padding: 15px 0;
}

.modalItems {
  width: 21.25em;
  margin: 0 auto;
}

.modalItem {
  height: 3.6em;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 0.88em;
  border: 1px solid rgb(221, 221, 221);
}

.uploadBtn {
  width: 5em;
  height: 5em;
  overflow: hidden;
  border: 1px solid rgb(191 189 189);
}

.uploadBtn > img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.modalItem.textarea {
  padding-top: 5px;
  height: 110px;
  resize: none;
}

.inputBtn {
  background-color: #ea5936;
  width: 100%;
  height: 3.6em;
  font-size: 0.88em;
  color: #fff;
  margin-top: 25px;
}

/*   Max-Width: 800px   */
@media screen and (max-width: 800px) {
  .container {
    padding: 100px 20px;
    width: 100%;
    position: relative;
    margin: 0 auto 50px;
  }

  /*   Header   */
  .tabContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .tabBtn {
    padding-bottom: 9px;
    font-size: 0.75em;
  }

  /*   Grid   */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /*   Share List   */
  .imgContainer {
    width: 100%;
    height: 10em;
    border-radius: 9px;
    overflow: hidden;
  }

  .itemInfo > h2 {
    margin: 10px 0 2px;
    font-size: 1em;
  }

  .itemInfo > strong {
    font-size: 0.94em;
  }

  .itemInfo > span {
    font-size: 0.89em;
  }

  .author {
    margin-top: 3px;
    font-size: 0.89em;
    color: #6a6a6a;
  }

  /*   Plus Button   */
  .plusBtn {
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 65px;
    height: 65px;
    overflow: hidden;
  }
}

/*   Max-Width: 550px   */
@media screen and (max-width: 550px) {
  .container {
    padding: 80px 20px;
    width: 100%;
    position: relative;
  }

  /*   Header   */
  .tabContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .tabBtn {
    padding-bottom: 6px;
    font-size: 0.65em;
  }

  .tabBtn.click {
    border-bottom: 2px solid #ea5936;
  }

  /*   Grid   */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  /*   Share List   */
  .itemContainer {
    padding-top: 20px;
    display: flex;
  }

  .imgContainer {
    width: 40%;
    height: 6.8em;
    border-radius: 7px;
    overflow: hidden;
  }

  .itemInfo {
    width: 60%;
    margin: 5px 0 0 5px;
    position: relative;
  }

  .itemInfo > h2 {
    margin: 0 0 2px;
  }

  .itemInfo > span {
    font-size: 0.84em;
  }

  .author {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.84em;
  }

  /*   Plus Button   */
  .plusBtn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }

  /*   Input Modal   */
  .inputModalContainer {
    top: 55px;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .modalTitle {
    font-size: 0.95em;
    text-align: center;
    padding: 25px 0 15px;
  }

  .modalItems {
    width: 18.8em;
    margin: 0 auto;
  }

  .modalItem {
    height: 3.3em;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 0.88em;
    border: 1px solid rgb(221, 221, 221);
  }

  .uploadBtn {
    width: 4.3em;
    height: 4.3em;
    overflow: hidden;
    border: 1px solid rgb(191 189 189);
  }

  .uploadBtn > img {
    width: 90%;
    height: 100%;
    object-fit: contain;
  }

  .modalItem.textarea {
    padding-top: 5px;
    height: 100px;
    resize: none;
  }

  .inputBtn {
    background-color: #ea5936;
    width: 100%;
    height: 3.3em;
    font-size: 0.88em;
    color: #fff;
    margin-top: 30px;
  }
}
