.relative {
  position: relative;
}

/*   Show Content   */
.container {
  padding-top: 130px;
  width: 42.31em;
  margin: 0 auto;
}

.imgContainer {
  width: 100%;
  height: 32.5em;
  border-radius: 12px;
  overflow: hidden;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*   User Info Container   */

.userInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(234 232 232);
}

.userMainInfo {
  display: flex;
  align-items: center;
}

.userMainInfo > .imgContainer {
  width: 3.5em;
  height: 3.5em;
  overflow: hidden;
  margin-right: 10px;
}

.userMainInfo > .textContainer {
  display: flex;
  flex-direction: column;
}

.userMainInfo > .textContainer > strong {
  font-size: 1em;
}

.userMainInfo > .textContainer > span {
  font-size: 0.94em;
}

.userMannerInfo {
  height: 3.5em;
}

.userMannerInfo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*   Main Content   */

.contentContainer {
  padding: 30px 0 150px;
}

.contentContainer > h1 {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.contentContainer > strong {
  font-size: 1.13em;
}

.contentContainer > p {
  font-size: 1.06em;
  margin-top: 23px;
}

/*   Bar   */
.barBackgroundContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgb(218, 218, 218);
}

.barContainer {
  display: flex;
  justify-content: space-between;
  width: 42.31em;
  height: 4.38em;
  align-items: center;
  margin: 0 auto;
}

.leftItem {
  display: flex;
  align-items: center;
}

.likeBtn {
  width: 4em;
  height: 4em;
  overflow: hidden;
  margin-right: 50px;
}

.likeBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.leftItem > span {
  font-size: 1em;
}

.chatBtn {
  width: 8em;
  height: 3.13em;
  background-color: #ea5936;
  font-size: 1em;
  color: #fff;
}

/*   Chat Modal   */
.absolute {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.chatContainer {
  width: 25em;
  background-color: #fff;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.2);
}

.chatContainer > .header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #949494;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.chatContainer > .header > .imgContainer {
  width: 5em;
  height: 5em;
  overflow: hidden;
  border-radius: 7px;
  margin: 0;
}

.itemInfo {
  padding-left: 10px;
}

.itemInfo > h2 {
  font-size: 1.13em;
  font-weight: normal;
  margin-bottom: 5px;
}

.itemInfo > strong {
  font-size: 0.94em;
}

.closeBtn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 1.2em;
  height: 1.2em;
}

.closeBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*   Chat List   */
.chatList {
  height: 21.8em;
}

.dateContainer {
  width: 100%;
  text-align: center;
}

.date::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  border-bottom: 1px solid #d0d0d0;
}

.date::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  border-bottom: 1px solid #d0d0d0;
}

.date {
  font-size: 15px;
  color: #878585;
  position: relative;
}

.inputContainer {
  display: flex;
  justify-content: flex-start;
}

.inputContainer > input {
  width: 23.13em;
  font-size: 1em;
  height: 2.5em;
  padding-left: 5px;
  border-style: none;
  border-top: 1px solid #949494;
}

.sendBtn {
  background-color: #ea5936;
  width: 3em;
  height: 100%;
  padding: 8px;
}

.sendBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*   Show Chat List   */
.userChatList {
  margin: 9px 15px 0 0;
  text-align: right;
  width: 170px;
  float: right;
}

.chatBox {
  display: inline-block;
  position: relative;
  background-color: #ea5936;
  border-radius: 20px;
  padding: 7px 12px;
  margin-bottom: 10px;
  text-align: left;
}

.chatBox > p {
  color: #fff;
  font-size: 0.94em;
}

.chatTime {
  position: absolute;
  left: -60px;
  bottom: 2px;
  font-size: 0.82em;
  color: #878585;
}

.nonRead {
  position: absolute;
  bottom: 18px;
  left: -13px;
  font-size: 0.82em;
  color: #ea5936;
}

/*   Max-Width: 800px   */
@media screen and (max-width: 800px) {
  /*   Show Content   */
  .container {
    width: 32.31em;
    padding-top: 110px;
  }

  .imgContainer {
    width: 100%;
    height: 25.63em;
    border-radius: 9px;
    overflow: hidden;
  }

  /*   Bar   */

  .barContainer {
    display: flex;
    justify-content: space-between;
    width: 32.31em;
    height: 3.7em;
    align-items: center;
    margin: 0 auto;
  }

  .likeBtn {
    width: 3.4em;
    height: 3.4em;
    overflow: hidden;
    margin-right: 40px;
  }

  .leftItem > span {
    font-size: 0.91em;
  }

  .chatBtn {
    width: 7.2em;
    height: 2.9em;
    background-color: #ea5936;
    font-size: 0.88em;
    color: #fff;
  }

  .chatContainer {
    width: 23em;
    background-color: #fff;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.2);
  }

  /*   Chat List   */
  .chatList {
    height: 19.8em;
  }
}

/*   Max-Width: 600px   */
@media screen and (max-width: 600px) {
  /*   Show Content   */
  .container {
    width: 100%;
    padding: 90px 20px;
  }

  .imgContainer {
    width: 100%;
    height: 23.63em;
    border-radius: 7px;
    overflow: hidden;
  }

  /*   User Info Container   */
  .userInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(234 232 232);
  }

  .userMainInfo > .imgContainer {
    width: 3em;
    height: 3em;
    overflow: hidden;
    margin-right: 6px;
  }

  .userMainInfo > .textContainer > strong {
    font-size: 0.91em;
  }

  .userMainInfo > .textContainer > span {
    font-size: 0.86em;
  }

  .userMannerInfo {
    height: 3.1em;
  }

  /*   Main Content   */
  .contentContainer {
    padding: 25px 0 50px;
  }

  .contentContainer > h1 {
    font-size: 1.06em;
    margin-bottom: 5px;
  }

  .contentContainer > strong {
    font-size: 1em;
  }

  .contentContainer > p {
    font-size: 0.94em;
    margin-top: 23px;
  }

  /*   Bar   */
  .barBackgroundContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid rgb(218, 218, 218);
  }

  .barContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    height: 3.38em;
    align-items: center;
  }

  .leftItem {
    display: flex;
    align-items: center;
  }

  .likeBtn {
    width: 3em;
    height: 3em;
    overflow: hidden;
    margin-right: 10px;
  }

  .leftItem > span {
    font-size: 0.85em;
  }

  .chatBtn {
    width: 6.7em;
    height: 2.8em;
    background-color: #ea5936;
    font-size: 0.85em;
    color: #fff;
  }

  /*   Chat Modal   */
  .absolute {
    position: fixed;
    top: 55px;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background-color: #fff;
    transform: translateX(-50%);
  }

  .chatContainer {
    width: 100%;
    box-shadow: none;
  }

  .chatContainer > .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
  }

  .chatContainer > .header > .imgContainer {
    width: 4.3em;
    height: 4.3em;
    overflow: hidden;
    border-radius: 7px;
    margin: 0;
  }

  .itemInfo {
    padding-left: 6px;
  }

  .itemInfo > h2 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
  }

  .itemInfo > strong {
    font-size: 0.82em;
  }

  .closeBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1.2em;
    height: 1.2em;
  }

  /*   Chat List   */
  .chatList {
    height: 25.8em;
  }

  .date::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 74px;
    transform: translateY(-50%);
    border-bottom: 1px solid #d0d0d0;
  }

  .date::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    right: 74px;
    transform: translateY(-50%);
    border-bottom: 1px solid #d0d0d0;
  }

  .date {
    font-size: 0.81em;
    color: #878585;
    position: relative;
  }

  .inputContainer > input {
    width: 90%;
    font-size: 0.88em;
    height: 2.5em;
    padding-left: 5px;
    border: 1px solid #d0d0d0;
  }

  .sendBtn {
    background-color: #ea5936;
    width: 10%;
    height: 2.64em;
    padding: 7px 5.5px;
  }

  /*   Show Chat List   */
  .userChatList {
    margin: 6px 0 0;
    text-align: right;
    width: 150px;
    float: right;
  }

  .chatBox {
    display: inline-block;
    position: relative;
    background-color: #ea5936;
    border-radius: 15px;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-align: left;
  }

  .chatBox > p {
    color: #fff;
    font-size: 0.82em;
  }

  .chatTime {
    position: absolute;
    left: -55px;
    bottom: 2px;
    font-size: 0.75em;
    color: #878585;
  }

  .nonRead {
    position: absolute;
    bottom: 18px;
    left: -13px;
    font-size: 0.75em;
    color: #ea5936;
  }
}
