/*   Sidebar   */

.sideItem {
  display: flex;
  place-items: center;
}

.sideItem:nth-child(5) {
  border-bottom: 2px solid #d7d7d7;
}

.sideIcon {
  width: 50px;
}

.sideTitle {
  font-size: 30px;
  margin-top: 10px;
}

.sideTitle.click {
  color: #E67E22;
}

.sideTitle.link {
  color: #171717;
}