/*   Sidebar   */
.sideItem {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.sideIcon {
  width: 1.8em;
  height: 1.8em;
  margin-right: 10px;
}

.main {
  width: 2.3em;
  height: 2.3em;
}

.sideIcon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sideTitle {
  font-size: 1.06em;
}

.sideTitle.click {
  color: #ea5936;
}

.sideTitle.link {
  color: #171717;
}

/*  Max-Width: 600px  */
@media screen and (max-width: 600px) {
  /*   Sidebar   */
  .sideItem {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .sideIcon {
    width: 1.6em;
    height: 1.6em;
    margin-right: 8px;
  }

  .main {
    width: 2.1em;
    height: 2em;
  }

  .sideIcon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .sideTitle {
    font-size: 0.94em;
  }

  .sideTitle.click {
    color: #ea5936;
  }

  .sideTitle.link {
    color: #171717;
  }
}
