/*   Sidebar   */
.hideSidebar {
  position: fixed;
	top: 120px;
	left: 0px;
	width: 400px;
	height: 100%;
  padding-left: 70px;
	display: grid;
  grid-template-rows: repeat(5, 100px);
  background-color: #fff;
	row-gap: 1rem;
  z-index: 999;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.sideItem {
  display: flex;
  place-items: center;
}

.sideIcon {
  width: 50px;
}

.sideTitle {
  font-size: 30px;
  margin-top: 10px;
}

.sideTitle.click {
  color: #E67E22;
}

.sideTitle.link {
  color: #171717;
}