* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}


/*   App   */
.app-header {
  height: 180px;
  position: fixed;
  width: 100%;
  z-index: 998;
  background-color: #fff;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 0 70px;
  margin: 40px 0;
}

.top-icon {
  width: 42px;
}


/*   Sidebar   */
.hide-sidebar {
  position: fixed;
	top: 120px;
	left: 0px;
	width: 400px;
	height: 100%;
  padding-left: 70px;
	display: grid;
  grid-template-rows: repeat(5, 100px);
  background-color: #fff;
	row-gap: 1rem;
  z-index: 999;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.side-item {
  display: flex;
  place-items: center;
}

.side-icon {
  width: 50px;
}

.side-title {
  font-size: 30px;
  margin-top: 10px;
}

.side-title.click {
  color: #E67E22;
}